@import url('https://fonts.googleapis.com/css?family=Raleway');

.home,
.neighborhoods,
.nyc-neighborhoods,
.boston-neighborhoods {
	min-height: 100%;
}

.intro-text {
	margin: 150px 0 75px 0;
	text-align: center;
}
.title {
	font: 32px'Raleway', sans-serif;
}

.subtitle {
	font: 18px 'Raleway', sans-serif;
}

span {
	font-style: italic;
}

.cities {
	text-align: center;
}
.nyc,
.boston {
	background-color:#5fd980;
	border-radius:10px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:22px;
	font-weight:bold;
	padding:22px 33px;
	text-decoration:none;
	width: 250px;
}
.nyc:hover,
.boston:hover {
	background-color:#23c24d;
}
.nyc:active,
.boston:active {
	position:relative;
	top:1px;
}

.neighborhood-title {
	font: 32px'Raleway', sans-serif;
	padding-top: 120px;
	text-align: center;
	text-decoration: underline;
}

.nbh-list {
	align-items: center;
	display: flex;
	flex-direction: column;
}

.soho,
.midtown,
.east-village,
.fenway,
.back-bay,
.south-end {
	background-color:#3090C7;
	border-radius:10px;
	border:1px solid #151B8D;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:22px;
	font-weight:bold;
	margin-bottom: 10px;
	padding:18px;
	text-decoration:none;
	width: 250px;
}

.soho:hover,
.midtown:hover,
.east-village:hover {
	background-color: #1589FF;
}
