@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

.log-home {
	float: right;
    text-align: right;
}
.log-instructions {
	font: 14px 'Montserrat', sans-serif;
}
.sign-in-home,
.sign-up-home {
	background-color:#607D8B;
	border-radius:8px;
	border:1px solid #607D8B;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:16px;
	padding:8px;
	text-decoration:none;
	width: 90px;
}
.sign-in-home:hover,
.sign-up-home:hover {
	background-color:#9FB1B9;
}
.sign-in-home:active,
.sign-up-home:active {
	position:relative;
	top:1px;
}

.taco-home {
	display: flex;
	height: 25%;
	margin: 0 40%;
}

.home,
.neighborhoods,
.nyc-neighborhoods,
.boston-neighborhoods {
	min-height: 100%;
}

.intro-text {
	margin: 0px 0 30px 0;
	text-align: center;
}
.title {
	font: 60px'Raleway', sans-serif;
	margin-bottom: 8px;
}

.description {
	color: #A6A6A6;
	font: 16px 'Montserrat', sans-serif;
	margin: 0px auto;
	width: 700px;
}

.subtitle {
	border-top: 3px solid;
	font: 16px 'Montserrat', sans-serif;
	margin: 40px auto;
	padding-top: 25px;
	width: 50%;
}

span {
	font-style: italic;
}

.cities {
	text-align: center;
}
.nyc,
.boston {
	background-color:#5fd980;
	border-radius:10px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:22px;
	font-weight:bold;
	padding:22px 33px;
	text-decoration:none;
	width: 250px;
}
.nyc:hover,
.boston:hover {
	background-color:#23c24d;
}
.nyc:active,
.boston:active {
	position:relative;
	top:1px;
}

.neighborhood-title {
	font: 32px'Raleway', sans-serif;
	padding-top: 120px;
	text-align: center;
	text-decoration: underline;
}

.nbh-list {
	align-items: center;
	display: flex;
	flex-direction: column;
}

.soho,
.midtown,
.east-village,
.fenway,
.mission-hill,
.south-end {
	background-color:#3090C7;
	border-radius:10px;
	border:1px solid #151B8D;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:22px;
	font-weight:bold;
	margin-bottom: 10px;
	padding:18px;
	text-decoration:none;
	width: 250px;
}

.soho:hover,
.midtown:hover,
.east-village:hover,
.fenway:hover,
.mission-hill:hover,
.south-end:hover {
	background-color: #1589FF;
}
