@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

.nbh-title {
	font: bold 32px 'Montserrat', sans-serif;
	margin-top: 50px;
	text-align: center;
}

#restaurant-listing {
	display: flex;
	flex-wrap: wrap;
	margin: 25px auto;
	justify-content: space-between;
    width: 500px;
}
.restaurant-name {
	font: bold 24px 'Raleway', sans-serif;
	text-decoration: underline;
}

.restaurant-info {
	font: 14px 'Raleway', sans-serif;
}

.empty-title {
	font: bold 32px 'Montserrat', sans-serif;
	margin-top: 80px;
	text-align: center;
}

#map {
	margin: 0px auto;
}