<head>
<link rel="stylesheet" type="text/css" href="../restaurant.css">
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC9kyezE1vqlngp7OCyj9diGtZeIsGYxkc"
  type="text/javascript"></script>

</head>
<body>
<div id="restaurant-listing" data-restaurants="{{ results }}">
	{% if results.length %}
	<h1 class="nbh-title">Taco Restaurants in {{ results[0].neighborhood }}</h1>
	{% for restaurant in results %}
	<div class="restaurant">
		<h2 class="restaurant-name">{{ restaurant.name }}</h2>
		<div class="restaurant-info">
			<h3 class="r-price">Price Average: {{ restaurant.priceAvg }}</h3>
			<h3 class="r-menu"><a href="{{ restaurant.menuLink }}">Menu</a></h3>
      <div class="review-wrap">
        <a href="/review/list/{{ restaurant.storeId }}"><button class="see-review" type="button">See reviews</button></a>
        <a href="/review/create/{{ restaurant.storeId }}"><button class="write-review" type="button">Write a review</button></a>
      </div>
		</div>
	</div>
	{% endfor %}
	{% else %}
	<div class="empty-data">
		<h2 class="empty-title">There are currently no taco restaurants in this area :(</h2>
		<img src="http://dallascomedyhouse.com/media/sad-taco.jpg">
	</div>
	{% endif %}
</div>
{% if results.length %}
<div id="map" style="width: 700px; height: 400px;"></div>
  <script type="text/javascript">
      var locations = [], latitudes = [], longitudes = [], centerX = 0, centerY = 0,
      	results = JSON.parse(JSON.stringify({{ results | dump | safe }}));

      for (i = 0; i < results.length; i++) {
      	restaurant = [];
      	restaurant.push(results[i].name, results[i].latitude, results[i].longitude);
      	locations.push(restaurant);
      }

      // CALCULATING CENTER OF MAP 
     for (i = 0; i < results.length; i++) {
     		latitudes.push(results[i].latitude);
     }

     for (i = 0; i < results.length; i++) {
     		longitudes.push(results[i].longitude);
     }

     for (i = 0; i < latitudes.length; i++) {
     		centerX += latitudes[i];
     }
     centerX = centerX / latitudes.length;

     for (i = 0; i < longitudes.length; i++) {
     		centerY += longitudes[i];
     }
     centerY = centerY / longitudes.length;

      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 15,
        center: new google.maps.LatLng(centerX, centerY),
        mapTypeId: google.maps.MapTypeId.ROADMAP
      });

      var infowindow = new google.maps.InfoWindow();

      var marker, i;

      for (i = 0; i < locations.length; i++) {  
        marker = new google.maps.Marker({
          position: new google.maps.LatLng(locations[i][1], locations[i][2]),
          map: map
        });

        google.maps.event.addListener(marker, 'click', (function(marker, i) {
          return function() {
            infowindow.setContent(locations[i][0]);
            infowindow.open(map, marker);
          }
        })(marker, i));
      }
  </script>
{% endif %}
</body>

