<head>
<link rel="stylesheet" type="text/css" href="/profile.css">
</head>
<body>
<div class="profile">
	<h1 class="profile-title">Welcome {{ results.username }}!</h1>
     <div class="profile-buttons">
     	<a href="/logout"><button class="log-out" type="button">Log Out</button></a>
        <a href="/profile/delete/{{ results.username }}"><button class="delete-account" type="button">Delete Account</button></a>
     </div>
     <a href="/"><button class="go-home" type="button">Home</button></a>
</div>