<head>
<link rel="stylesheet" type="text/css" href="users.css">
</head>
<body>
<div class="signin-whole">
	<div class="signin-intro">
		<h1>Welcome to Taco Locator!</h1>
		<h3>Sign in to your account below</h3>
	</div>
	<form class="sign-in" action="signin" method="POST">
		<label>Username:</label> <input type="text" name="username"/>
		<label>Password:</label> <input type="password" name="password"/>
		<input class="submit-button" type="submit"/>
	</form>
	<div class="no-account">
		<h4>No account? Register here!</h4>
		<a href="/signup"><button class="register" type="button">Register</button></a>
	</div>
</div>
</body>