<head>
<link rel="stylesheet" type="text/css" href="users.css">
</head>
<body>
<div class="signup-whole">
	<div class="signup-intro">
		<h1>New to Taco Locator?</h1>
		<h2>Register below!</h2>
	</div>
	<form class="sign-up" action="signup" method="POST">
		<label>Username:</label> <input type="text" name="username"/>
		<label>Email:</label> <input type="text" name="email"/>
		<label>Password:</label> <input type="password" name="password"/>
		<input class="submit-button" type="submit"/>
	</form>
</div>
</body>
